.brand {
  margin-bottom: 120px;
  &-heading {
    font-weight: 500;
    margin-bottom: 80px;
    text-align: center;
    font-family: $secondary-font;
    color: $blackColor;
  }
  &-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .brand {
    &-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
    }
  }
}
