.footer {
  background: $headingColor;
  position: relative;
  padding: 105px 0 30px;
  &-top {
    display: flex;
    justify-content: space-between;
  }
  .scroll-top {
    position: fixed;
    width: 60px;
    height: 60px;
    background-color: $buttonColor;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 15px;
    right: 20px;
    font-size: 20px;
    border-radius: 100rem;
    cursor: pointer;
    color: white;
  }
  &-column {
    .logo {
      color: $whiteColor;
    }
  }
  &-heading {
    color: $whiteColor;
    margin-bottom: 20px;
    font-family: $secondary-font;
  }
  &-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &-item-link {
    text-transform: uppercase;
    color: $grayColor;
    &:hover {
      color: $whiteColor;
    }
  }
  &-content {
    max-width: 370px;
    width: 100%;
  }
  &-desc {
    color: $whiteColor;
    margin-bottom: 25px;
  }
  &-form {
    display: flex;
    gap: 6px;
    align-items: center;
    input {
      padding: 11px 19px;
      border-radius: 5px;
      outline: none;
      border: none;
    }
  }
  &-btn {
    flex: 1;
    padding: 12px 40px;
  }
  &-caption {
    margin-top: 15px;
    font-weight: 400;
  }
  &-bottom {
    margin-top: 100px;
    border-top: 1px solid $textColor;
  }
  &-copyright {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      color: $grayColor;
    }
  }
  &-social {
    display: flex;
    gap: 20px;
    align-items: center;
    i {
      width: 52px;
      height: 52px;
      color: $whiteColor;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100rem;
      background-color: $buttonColor;
    }
  }
}
@media screen and (max-width: 769px) {
  .footer {
    padding-top: 50px;
    &-top {
      flex-direction: column;
      gap: 30px;
      align-items: center;
    }
    &-column {
      text-align: center;
    }
    &-copyright p {
      font-size: 14px;
    }
  }
}
@media screen and (max-width: 600px) {
  .footer {
    &-copyright {
      flex-direction: column;
      gap: 20px;
      p {
        text-align: center;
      }
    }
  }
}
