/* font family variables */
$font-primary: "DM Sans", sans-serif;
$secondary-font: "Outfit";

/* color variables */
$textColor: #7b88a8;
$headingColor: #2d3958;
$titleColor: #120f1f;
$buttonColor: #4f77ff;
$whiteColor: #fff;
$yellowColor: #f9c45c;
$blackColor: #000000;
$grayColor: #e7e5ea;
$bg: #f7f5f1;
